.normal {
    background-color: grey;
}
.drag {
    background-color: green;
}
.dragArea {
     min-height: 10px;	
}

.list-dragging {
	background-color: blue;
}

.target.ok {
  background-color: blue;
}

.target.ko {
  background-color: red;
}

.status {
  height: 10px;
}

.status .ok {
  background-color: green;
}

.status .ko {
  background-color: red;
}

.list-complete-item {
  padding: 4px;
  margin-top: 4px;
  border: solid 1px;
  transition: all 1s;
  height: 60px;
}

.list-complete-enter, .list-complete-leave-active {
  opacity: 0;
  height: 0px;
  margin-top: 0px;
  padding: 0px;
  border: solid 0px;
}
