<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Header slot</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/main.css">
</head>

<body>

  <div id="main">
    <h1>Vue Dragable For</h1>

    <div class="drag">
      <h2>Draggable</h2>
      <draggable :list="list" class="dragArea">
        <template v-for="element in list">
          <p v-if="element.name.length === 5">
            Long name: {{element.name}}
          </p>
          <p v-if="element.name.length == 4">
            Name: {{element.name}}
          </p>
        </template>
      </draggable>
    </div>

    <div class="normal">
      <h2>Normal v-for</h2>
      <div class="dragArea">
        <div v-for="element in list">{{element.name}}</div>
      </div>
    </div>

    <button @click="add">Add</button>
    <button @click="replace">Replace</button>
  </div>

  <script type="text/javascript" src="libs\vue\dist\vue.js"></script>
  <script type="text/javascript" src="libs\Sortable\Sortable.js"></script>
  <script type="text/javascript" src="src\vuedraggable.js"></script>
  <script type="text/javascript" src="script\cif.js"></script>
</body>

</html>