<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Example two lists clone</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
     
     <div id="main">
        <h1>Vue Dragable</h1>

        <div class="drag">
            <h2>List 1 dragable</h2>
            <draggable id="list1" class="dragArea" :list="list1" :options="{group:{ name:'people', pull:'clone',put:false}}">
                <div v-for="(element, index) in list1"  v-if="element.id > 2" :key="index">
                    {{element.name}}, id:  {{element.id}}
                </div>
             </draggable>                

            <h2>List 2 dragable</h2>
            <draggable id="list2" class="dragArea" :list="list2" :options="{group:'people'}">
                <div v-for="(element,index) in list2"  :key="index"  v-if="element.id > 3">{{element.name}}, id: {{element.id}}</div>
             </draggable>
         </div>

        <div class="normal">
            <h2>List 1 v-for</h2>
            <div>
                <div v-for="(element,index)  in list1" track-by="$index">{{element.name}}  {{index}}</div>
             </div>

            <h2>List 2 v-for</h2>
            <div>
                <div v-for="(element,index)  in list2" track-by="$index">{{element.name}}  {{index}}</div>
            </div>
        </div>

        <a href="index.html">See basic example</a>
        <a href="Two_Lists.html">See 2 lists example</a>
        <a href="Two_Lists.html">See 2 lists example</a>

      

    </div>  
        <script type="text/javascript" src="libs\vue\dist\vue.js"></script>
        <script type="text/javascript" src="libs\Sortable\Sortable.js"></script>
        <script type="text/javascript" src="src\vuedraggable.js"></script>
        <script type="text/javascript" src="script\complex.js"></script>
    </body>
</html>